.txtuppercase {
    text-transform: uppercase;
}

.formInput {
    font-size: 10px;
    margin-bottom: 10px;
    margin-top: 10px
}

.cursor a {
    text-transform: none;
    cursor: pointer;
    color: white;
}

.cursor a:hover {
    text-transform: none;
    cursor: pointer;
    color: blue;
}

.btnleft {
    margin-left: 4px;
}

.pointerlink {
    cursor: pointer;
}


/* Animaciones */

.animated {
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.fast {
    -webkit-animation-duration: 0.8s;
    animation-duration: 0.8s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.fadeIn {
    animation-name: fadeIn;
}

.colorHR {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #e0a04c;
    margin: 1em 0;
    padding: 0;
}

.btn-navy {
    background: #012a5f;
    color: white;
}

.btn.btn-navy:hover {
    background: #033c88;
    color: white;
}

.select_czmr select {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #E5E5E5;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0 0 10px #E8E8E8 inset;
    height: 20px;
    margin: 0 0 0 0px;
    margin-top: -1px;
    padding-bottom: 10px;
    padding: 0px;
    width: 55px;
    float: right;
}

.list-group-item-inea {
    position: relative;
    display: block;
    padding: 1px 15px;
    margin-bottom: -1px;
    background-color: #fff;
    border: 1px solid #ddd
}

.list-group-item-inea2 {
    position: relative;
    display: block;
    padding: 4px 10px;
    margin-bottom: -1px;
    background-color: #fff;
    border: 1px solid #ddd
}


/* .dataTables tbody tr {
    height: 10px;
    /* or whatever height you need to make them all consistent */


/* } */

.trclass {
    height: 8px;
    font-weight: bold;
}


/* .table thead tr th {
    vertical-align: top;
    text-align: center;
    background-color: rgb(218, 208, 208);
} */

#th1,
#th2,
#th3,
#th4,
#th5,
#th6,
#th7,
#th8,
#th9,
#th10,
#th11,
#th12,
#th13,
#th14 {
    vertical-align: middle;
    text-align: center;
    background-color: rgb(218, 208, 208);
    border: white;
    border-style: solid;
    border-width: 1px;
}