<div class="col-md-9 animated fast fadeIn">
    <div class="nav-tabs-custom" id="tabsUS">
        <ul class="nav nav-tabs">
            <li class="active"><a href="#tab1" data-toggle="tab">Tab1 </a></li>
            <li><a href="#tab2" data-toggle="tab">Tab2 </a></li>
            <li><a href="#tab3" data-toggle="tab">Tab3</a></li>
        </ul>
        <div class="tab-content">
            <div class="active tab-pane animated fast fadeIn" id="Tab1">
                <fusioncharts width="700" height="400" type="Column2d" [dataSource]="dataSource">
                </fusioncharts>

            </div>
            <div class="active tab-pane animated fast fadeIn" id="Tab2"></div>
            <div class="active tab-pane animated fast fadeIn" id="Tab3"></div>
        </div>
    </div>
</div>